:root {
  --primary-accent: #E75010;
  --primary-light: #FCF9EA;
  --primary-color-light30: #FCF9EA30;
  --primary-color: #FCF9EA30;
  --dark-color: #291E1E;
  --primary-gray: #E7E4D6;
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
  "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
  "Source Han Sans CN", sans-serif;
}
$gray: #C7C7C7;
$primary-color: #E75010;
$primary-color-light: #FCF9EA;
$primary-color-light30: #FCF9EA30;
$secondary-color: #C7C7C7;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #ffffff;
$dark-color: #291E1E;
