@use "../variables" as *;

.base-input {
  display: flex;
  width: 100%;
  padding: 12px 16px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 26px;
  border: 2px solid var(--primary-dark, #291E1E);
  color: #291E1E;

  .left-icon, .right-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
  }

  .right-icon {
    margin-left: auto;
  }

  input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;

  }
}

.base-radio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px 16px;
  gap: 8px;
  border-radius: 26px;
  border: 2px solid var(--primary-dark, #291E1E);
  color: #291E1E;

  &__label {
    color: var(--primary-dark, #291E1E);

    /* Text Medium */
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 137.5% */
    letter-spacing: -0.6px;
  }

  &__input {
    width: 22px;
    height: 22px;
    border: 2px solid var(--primary-accent, #291E1E);
    border-radius: 100%;
    padding: 2px;

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: var(--primary-accent, #291E1E);
      border-radius: 100%;
      transform: scale(0);
      transition: transform 0.2s ease-in-out;
      visibility: hidden;
    }

    &.checked:before {
      visibility: visible;
      transform: scale(1);
    }
  }
}

.base-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px 16px;
  gap: 8px;
  border-radius: 26px;
  border: 2px solid var(--primary-dark, #291E1E);
  color: #291E1E;

  &__label {
    color: var(--primary-dark, #291E1E);

    /* Text Medium */
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 137.5% */
    letter-spacing: -0.6px;
  }

  &__input {
    width: 22px;
    height: 22px;
    border: 2px solid var(--primary-accent, #291E1E);
    border-radius: 4px;
    transition: transform 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;

    &.checked {
      background: var(--primary-accent, #291E1E);

    }
  }
}

.base-textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 8px;

  .caption {
    display: block;
    width: 100%;
    color: var(--primary-dark, #291E1E);
    text-align: right;

    /* Caption */
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    letter-spacing: -0.4px;
  }

  textarea {
    border: 2px solid var(--primary-dark, #291E1E);
    color: #291E1E;
    width: 100%;
    background: transparent;
    height: 200px;
    border-radius: 26px;
    padding: 12px 16px;

  }
}
