.onboarding-form {
  background-color: #FCF9EA;
  padding-bottom: 34px;

  &__navbar {
    display: flex;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: -8px;
    margin-right: -8px;
    justify-content: space-between;


    button {
      display: flex;
      padding: 8px;
      align-items: center;
      gap: 2px;
      border: none;
      background-color: transparent;
    }

    &-title {
      color: var(--primary-dark, #291E1E);
      text-align: center;

      /* Text Medium */
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px; /* 137.5% */
      letter-spacing: -0.6px;

    }
  }
}

.slide-indicators {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 24px 0;
  align-items: flex-start;
  gap: 4px;
  z-index: 3;

  &__item {
    height: 4px;
    border-radius: 4px;
    background-color: var(--primary-gray, #FCF9EA);
    width: 100%;
    position: relative;

    &.active {
      background-color: var(--dark-color);
    }

  }
}

.onboarding-form__footer {
  z-index: 3;
  left: 0;
  right: 0;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.slides {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &-item {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    gap: 16px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    height: 100%;
    flex-grow: 1;

    &.active {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
      display: flex;
    }

    display: none;
    flex-direction: column;


    &__content {
      left: 0;
      right: 0;
      z-index: 2;
      padding-left: 12px;
      padding-right: 12px;
      padding-bottom: 32px;

    }


    &__title {
      color: var(--primary-dark, #291E1E);
      text-align: center;

      /* H2 */
      font-family: "Sofia Sans Extra Condensed";
      font-size: 34px;
      font-style: normal;
      font-weight: 800;
      line-height: 34px; /* 100% */
      text-transform: uppercase;
      margin-bottom: 24px;
      margin-top: 12px;
      display: block;
    }

    &__description {
      color: var(--primary-light, #FCF9EA);

      /* Text Medium */
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px; /* 137.5% */
      letter-spacing: -0.6px;
    }

  }

}
