.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .logo {
    width: 169px;
    height: 61px;
    flex-shrink: 0;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__content__title {
    color: var(--primary-light, #FCF9EA);
    text-align: center;

    /* H1 */
    font-family: "Sofia Sans Extra Condensed", var(--default-font-family);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px; /* 90% */
    letter-spacing: -0.6px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__content__description, &__content__offert {
    color: var(--primary-light, #FCF9EA);
    text-align: center;

    /* Text Medium */
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 137.5% */
    letter-spacing: -0.6px;
  }

  &__content__button {
    margin-bottom: 24px;
  }
}
